html {
	background-color: black;
}






body {
	background-image: url('http://www.loversiq.com/daut/as/f/d/dark-wood-floor-perspective-awesome-62502-lphelp-info-amazing-5751_brick-floor-and-wood-floor_home-decor_rustic-home-decor-decorators-outlet-blogs-decoration-coupon-code-promo-sincere-ideas.jpeg');
	 height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
	text-align: center;
	margin-top: 40px;
	color: white;
}

h1 {
	font-size:6em;
}

	h4 {
		margin:1em auto;
		font-family:"Roboto";
		font-size:5em;
		color:#fff;
    text-shadow:2px 2px rgba(0,0,0,.4)
	}
	pre:before {
		content:"Html";
		animation:change 8s infinite;
		color: darkOrange;
	}
	@keyframes change{
		0% {
			content:"Energy";
		}
		25% {
			content:"Effort";
		}
		35% {
			content:"Positive Attitude";
		}
		50% {
			content:"Energy";
		}
		75% {
			content:"Effort";
		}
		100% {
			content:"Positive Attitude";
		}
	}



h1 {
  /*background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3WW8SoQf6sUoghJ_7nq4rfYfAXNFsWLH-hrMtpLGCUz0FPfke) -80px -80px;*/
   background-color: darkOrange;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 7em;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: lightgrey;

}

.buttons {
	margin-bottom: 50px;
}

